{% extends "admin/base_site.html" %}

{% block content %}
<form action="" method="post">{% csrf_token %}
  {{ form }}
  <p>Новая категория будет назначена для следующих позиций:</p>
  <ul>{{ items|unordered_list }}</ul>
  <input type="hidden" name="action" value="change_characteristic" />
  <input type="submit" name="apply" value="Сохранить" />
</form>
{% endblock %}
